.idea/
*.pyc
__pycache__/
**/__pycache__/

test.data/
training/snapshot/
training/logs/
train.configs/param_all_norm.pkl*
train.configs/param_all_norm_val.pkl*
train.configs/train_aug_120x120.list.*


.ipynb_checkpoints/

models/shape_predictor_68_face_landmarks.dat
.DS_Store


utils/cython/build
utils/cython/*.so
utils/cython/mesh_core_cython.cpp
PAF/

samples/*
uv_gan_checkpoint_100
uv_gan_checkpoint_100_bak
